header {
  background-color: DarkTurquoise;
}

main {
  background-color: LightGreen;
}

footer {
  background-color: HotPink;
}

.grid-container {
  display: grid;
  background-color: red;
}

@media (min-width: 600px) {
  header {
    grid-area: header;
  }

  main {
    grid-area: main;
  }

  footer {
    grid-area: footer;
  }

  .grid-container {
    grid-template-areas:
      "header header header"
      "main main main"
      "footer footer footer";
  }
}
