@import url(./footer.css);
@import url(./header.css);
@import url(./layout.css);
@import url(./product.css);
@import url(./queries.css);
@import url(./search.css);
@import url(./store.css);
@import url(./cart.css);
@import url(./success.css);
@import url(./about.css);
@import url(./contact.css);

@font-face {
  font-family: "Poppins";
  src: url("../fonts/poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/poppins/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: bold;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  /* outline: 1px solid red; */
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}

textarea::placeholder {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  color: #000000;
}

input::placeholder {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  color: #000000;
}

/*
h2 {
  font-weight: 400;
  font-style: normal;
}
*/

/*
h3 {
  font-weight: 700;
  font-style: bold;
}
*/

main button {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: bold;
  font-size: 1rem;
  border: none;
  background-color: #000000;
  color: white;
  width: 100%;
  height: 40px;
  text-align: center;
}

main button:hover {
  background-color: #929292;
}

a:link,
a:hover,
a:visited {
  color: white;
  text-decoration: none;
}

.image-main {
  width: 277px;
  margin-top: 60px;
  margin-bottom: 60px;
}

.image-center {
  height: 100%;
  display: grid;
  place-items: center;
}

.main-container {
  /* background: red; */
  margin: 20px;
}

.main-container-content {
  background: #e0e0e0;
  padding: 20px;
  /* max-width: 100%; */
  max-width: 1274px;
  margin: auto;
}

/*
.main-container-row {
  max-width: 947px;
}
*/

.bold {
  font-weight: 700;
  font-style: bold;
}
