@media (max-width: 900px) {
  #mobile-header {
    display: block;
  }

  header {
    /*  position: relative; */
    position: sticky;
    top: 0;
    background: #212121;
    height: 145px;
    min-width: 360px;
  }

  #desktop-header {
    display: none;
  }
}

@media (min-width: 900px) {
  #desktop-header {
    display: block;
    height: 100%;
    width: 100%;
  }

  header {
    position: relative;
    height: 120px;
    background-color: #212121;
  }

  #mobile-header {
    display: none;
  }
}
