.store-container {
  /* background: red; */
  margin: 20px;
}

.store-container-content {
  /* max-width: 100%; */
  max-width: 1274px;
  margin: auto;
}

/* top, right, bottom, left */
.store-container-content hr {
  margin: 20px 10px 20px 10px;
}

.title {
  font-size: 1.75rem;
}

.undertitle {
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 20px;
}

.horizontal-scroll {
  display: flex;
  overflow-x: auto;
}

.product-main {
  height: 100%;
  max-height: 575px;
  margin-left: 10px;
  margin-right: 10px;
}

#left {
  margin-left: 0;
}

#right {
  margin-right: 0;
}

.product-background {
  background: #e0e0e0;
  min-height: 426px; /* fix center image */
  min-width: 304px;
  margin-bottom: 20px;
}

.image-jacket {
  height: auto;
  width: 100%;
  margin-top: 60px;
  margin-bottom: 60px;
}

.product-brand {
  font-size: 1rem;
  color: #000000;
}

.product-name {
  font-size: 1.75rem;
  margin-bottom: 20px;
  color: #000000;
}

.product-prize {
  font-size: 1.75rem;
  font-weight: 700;
  font-style: bold;
  color: #000000;
}

@media (min-width: 1320px) {
  .horizontal-scroll {
    overflow-x: unset;
  }
}
