@font-face {
  font-family: "Poppins";
  src: url("../fonts/poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/poppins/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: bold;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}

h2 {
  padding-bottom: 20px;
}

/*
h2 {
  font-weight: 400;
  font-style: normal;
}
*/

/*
h3 {
  font-weight: 700;
  font-style: bold;
}
*/

.logo {
  width: 120px;
  margin: 20px;
}

.image-main {
  width: 277px;
  margin-top: 60px;
  margin-bottom: 60px;
}

.image-center {
  display: flex;
  justify-content: center;
}

nav,
#menu-checkbox,
#menu-checkbox-close {
  display: none;
}

#menu-checkbox:checked ~ nav {
  display: block;
}

header {
  position: relative;
  background: #212121;
  height: 145px;
}

.container {
  background: #e0e0e0;
  margin: 20px;
  padding: 20px;
}

.container-bars {
  background: #ffffff;
  height: 40px;
  width: 40px;
  display: grid;
  place-items: center;
}

nav {
  position: absolute;
  background: #ffffff;
  top: 0px;
  height: 100vh;
  width: 100vw;
}

nav a {
  display: block;
  color: #000000;
}

button {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: bold;
  font-size: 1rem;
  border: none;
  background-color: #000000;
  color: white;
  width: 100%;
  height: 40px;
  text-align: center;
}

button:hover {
  background-color: #929292;
}

a:hover,
a:visited {
  color: white;
  text-decoration: none;
}

@media (min-width: 600px) {
  .bars-icon {
    display: none;
  }

  .exit-icon {
    display: none;
  }

  .logo {
    position: static;
    width: 180px;
  }

  .container-bars {
    display: none;
  }

  header {
    display: flex;
    flex-direction: row;
    height: 120px;
  }

  h1 {
    display: none;
  }

  nav {
    display: block;
    position: static;
    background: #212121;
    height: 0px;
    width: 100%;
  }

  nav a {
    display: inline-block;
    color: #ffffff;
    padding: 20px;
  }
}
