/* mobile header start */
#mobile-header-nav,
#menu-checkbox,
#menu-checkbox-close {
  display: none;
}

#menu-checkbox:checked ~ #mobile-header-nav {
  display: block;
}

.mobile-header-container {
  padding: 20px;
}

.mobile-header-container-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

#mobile-logo {
  width: 120px;
}

.mobile-header-container-icons {
  display: flex;
  align-items: flex-end;
  color: #ffffff;
  min-width: 88px;
  justify-content: space-between;
}

.mobile-header-container-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}

.bars-container {
  background: #ffffff;
  min-height: 40px;
  min-width: 40px;
  display: grid;
  place-items: center;
  margin-right: 20px;
}

#mobile-header-nav {
  position: absolute;
  background: #ffffff;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
}

.nav-container {
  display: flex;
  flex-direction: row;
}

.nav-container-main {
  display: flex;
  align-items: flex-end;
  width: 100%;
  justify-content: space-between;
  margin: 20px;
}

#menu-title {
  font-size: 1.5rem;
  font-weight: 700;
  font-style: bold;
}

.exit-container {
  height: 35px;
  width: 35px;
}

.exit-icon {
  font-size: 1.5rem;
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
}

#mobile-header-nav a {
  display: block;
  margin: 20px;
}

#mobile-header-nav ul a,
#mobile-header-nav ul a:link,
#mobile-header-nav ul a:hover,
#mobile-header-nav ul a:visited {
  color: #000000;
  font-weight: 700;
  font-style: bold;
}

#mobile-header-nav hr {
  margin-left: 10px;
  margin-right: 10px;
}

#mobile-header-nav .nav-others a,
#mobile-header-nav .nav-others a:link,
#mobile-header-nav .nav-others a:hover,
#mobile-header-nav .nav-others a:visited {
  color: #000000;
  font-weight: 400;
  font-style: normal;
}

@media (max-width: 900px) {
  #mobile-header {
    display: block;
  }

  header {
    /*  position: relative; */
    position: sticky;
    top: 0;
    background: #212121;
    height: 145px;
    min-width: 360px;
  }

  #desktop-header {
    display: none;
  }
}
/* mobile header end */

/* desktop header start */
.desktop-header-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.logo-container {
  max-width: 303px;
  width: 100vw;
  padding-right: 20px;
  padding-left: 20px;
}

.logo-container-content {
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
}

.desktop-logo {
  width: 180px;
  background-size: contain;
}

.desktop-header-container-main {
  /*  border: 2px solid red; */
  display: flex;
  flex-direction: row;
  min-height: 40px;
  height: 100%;
  width: 1274px;
  margin: auto;
  /* margin-left: 20px; */
  /* margin-right: 20px; */
  padding-bottom: 10px;
}

.desktop-header-nav-container {
  /*  border: 2px solid blue; */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  min-width: 200px;
  width: 234px;
  margin-top: auto;
  margin-left: 20px;
  transform: translateY(6px); /* lines up text with serch and icons */
}

#desktop-header-nav {
  height: 100%;
  width: 100%;
}

#desktop-header-nav ul {
  height: 100%;
  width: 100%;
  min-width: 234px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.desktop-header-container-left {
  /*  border: 2px solid green; */
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-grow: 1;
  margin-top: auto;
  min-height: 29px;
}

.desktop-header-container-icons {
  display: flex;
  align-items: flex-end;
  color: #ffffff;
  min-width: 88px;
  justify-content: space-between;
  margin-right: 20px;
}

.desktop-hidden-container {
  max-width: 303px;
  width: 100vw;
  padding-right: 20px;
  padding-left: 20px;
}

@media (min-width: 900px) {
  #desktop-header {
    display: block;
    height: 100%;
    width: 100%;
  }

  header {
    position: relative;
    height: 120px;
    background-color: #212121;
  }

  #mobile-header {
    display: none;
  }
}

@media (max-width: 1500px) {
  .desktop-hidden-container {
    display: none;
  }
}

@media (min-width: 1500px) {
  .desktop-header-nav-container {
    margin-left: 0px;
  }

  .desktop-header-container-icons {
    margin-right: 0px;
  }
}
/* desktop header end */
