.cart-container {
  margin: 20px;
}

.cart-container-content {
  max-width: 1274px;
  margin: auto;
}

.flex-wrapper {
  display: flex;
  flex-direction: row;
}

.cart-container-main {
  display: flex;
  width: 100%;
  max-width: 620px;
}

.cart-container-main-content {
  width: 100%;
}

.cart-container-wrapper {
  display: flex;
  flex-direction: row;
}

.cart-container-wrapper-two {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.cart-image-container {
  background: #e0e0e0;
  height: 186px;
  width: 144px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-right: 20px;
}

.cart-image-main {
  height: auto;
  width: 100%;
}

.info-cart-container {
  height: 186px;
}

.info-cart-container-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cart-prize-container {
  width: 100%;
  max-width: 360px;
}

.cart-prize-container button p {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.cart-container-content .title {
  margin-bottom: 20px;
}

.cart-prize-container p {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.cart-prize-container span {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.cart-prize-container hr {
  margin: 10px;
}

.cart-prize-container-bottom {
  margin-top: 10px;
  margin-bottom: 10px;
}

#cart-prize-total {
  width: 130%;
  justify-content: flex-start;
}

@media (min-width: 1020px) {
  .cart-container-main {
    margin-right: 20px;
  }
}

@media (max-width: 1039px) {
  .cart-prize-container {
    margin-top: 20px;
  }
}
