.main-container {
  margin: 20px;
}

.main-container-content {
  background: #e0e0e0;
  padding: 20px;
  max-width: 1274px;
  margin: auto;
}

.flex-container {
  width: 100%;
}

.info-container-content p {
  margin-bottom: 20px;
}

#info-undertitle {
  margin-bottom: 0px;
}

.image-container {
  width: 100%;
}

.image-container-content {
  width: 100%;
  display: grid;
  place-items: center;
}

.cta-image-center {
  height: auto;
  width: 100%;
  max-width: 277px;
  display: grid;
  place-items: center;
  margin-top: 60px;
  margin-bottom: 60px;
}

.main-logo-container {
  width: 100%;
  max-width: 180px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.main-logo-center {
  width: 100%;
  display: grid;
  place-items: center;
}

@media (max-width: 899px) {
  #desktop-button {
    display: none;
  }

  #mobile-button {
    display: block;
  }

  .main-logo-container {
    display: none;
  }
}

@media (min-width: 900px) {
  #desktop-button {
    display: block;
  }

  #mobile-button {
    display: none;
  }

  .flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #info-undertitle {
    margin-bottom: 20px;
  }

  .info-container-content .mobile-linebreak {
    display: none;
  }

  .main-button {
    width: 100%;
    max-width: 360px;
  }

  .image-container {
    width: 100%;
    max-width: 360px;
  }

  .cta-image-center {
    height: auto;
    width: 100%;
    max-width: none;
    display: grid;
    place-items: center;
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .main-logo-container {
    display: none;
  }
}

@media (min-width: 1100px) {
  .main-logo-container {
    display: flex;
  }
}
