.product-container {
  /* background: red; */
  margin: 20px;
}

.product-container-content {
  /* max-width: 100%; */
  max-width: 1274px;
  margin: auto;
}

.image-container {
  /* background: blue; */
  background: #e0e0e0;
  /* height: 686px; */
  max-width: 490px;
  padding-top: 100px;
  padding-bottom: 100px;
  margin-bottom: 20px;
}

.image-container-content {
  height: 100%;
  display: grid;
  place-items: center;
}

.product-image-main {
  height: auto;
  width: 100%;
  /* margin-top: 60px;
  margin-bottom: 60px; */
}

.info-container {
  height: 100%;
  width: 490px;
  margin-bottom: 60px;
}

.info-container-content {
  height: 100%;
  width: 100%;
  /* min-width: 490px; */
}

.product-info {
  margin-bottom: 60px;
}

.description-container {
  padding-bottom: 20px;
}

.description-container-one {
  padding-top: 20px;
  padding-bottom: 20px;
}

.description-container-one ul li {
  list-style-type: disc;
  list-style-position: inside;
}

@media (min-width: 600px) {
  .image-container {
    margin-right: 20px;
  }
}
