.store-container {
  margin: 20px;
}

.store-container-content {
  max-width: 1274px;
  margin: auto;
}

.store-container-content hr {
  margin: 20px 10px 20px 10px;
}

.horizontal-scroll {
  display: flex;
  overflow-x: auto;
}

.product-main {
  height: 100%;
  max-height: 575px;
  margin-left: 10px;
  margin-right: 10px;
}

#left {
  margin-left: 0;
}

#right {
  margin-right: 0;
}

.product-background {
  background: #e0e0e0;
  min-height: 426px; /* fix center image */
  min-width: 304px;
  margin-bottom: 20px;
}

.image-jacket {
  height: auto;
  width: 100%;
  margin-top: 60px;
  margin-bottom: 60px;
}

@media (min-width: 1320px) {
  .horizontal-scroll {
    overflow-x: unset;
  }
}
